/* ========== Extra Extra Large ≥1400px ========== */
@media (max-width: 1400px) {}

/* ========== Extra Large ≥1200px ========== */
@media (max-width: 1200px) {
    .footerSubscribeLayout {
        width: 300px;
        min-width: 300px;
    }
}

/* ========== Large ≥992px ========== */
@media (max-width: 992px) {
    #dropdownEditorial .icon-arrow-down {
        display: flex;
        font-size: 10px;
    }

    .navbarMenuMainLayout {
        position: absolute;
        left: 0;
        top: 45px;
        width: 100%;
        height: calc(100dvh - 45px);
        background: #fff;

        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        transform: translateY(-30px);
        opacity: 0;
        visibility: hidden;

        transition:
            transform 0.4s cubic-bezier(0.4, 0, 0.2, 1),
            opacity 0.3s ease;
    }

    .navbarMenuMainLayout.active {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    /* ===== HAMBURGER BUTTON ===== */
    .menuToggleBtn {
        display: flex;
        width: 35px;
        height: 35px;
        position: relative;
        background: none;
        border: none;
        cursor: pointer;
    }

    .menuToggleBtn span {
        position: absolute;
        left: 50%;
        width: 20px;
        height: 1px;
        background: #000;
        transition:
            transform 0.4s cubic-bezier(0.4, 0, 0.2, 1),
            top 0.3s ease,
            opacity 0.3s ease;
    }

    .menuToggleBtn span:nth-child(1) {
        top: 14px;
        transform: translateX(-50%);
    }

    .menuToggleBtn span:nth-child(2) {
        top: 22px;
        transform: translateX(-50%);
    }

    .menuToggleBtn.active span:nth-child(1) {
        top: 18px;
        transform: translateX(-50%) rotate(45deg);
    }

    .menuToggleBtn.active span:nth-child(2) {
        top: 18px;
        transform: translateX(-50%) rotate(-45deg);
    }

    .navbarMenuFooter {
        font-family: "Hanken Grotesk", sans-serif;
        font-weight: 900;
        font-size: 70px;
        line-height: 70px;
        letter-spacing: 2px;
        text-transform: uppercase;

        width: 100%;
        height: fit-content;

        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        color: #000;
    }

    .mageContentTitle {
        display: none;
    }

    .megaContent {
        margin-left: 0px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .mageContentMenu {
        font-size: 13px;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;
    }

    .dropdownMegaMenu {
        position: relative !important;
        background: #fff;

        max-height: 0;
        padding: 0px;
        overflow: hidden;
        opacity: 0;

        transition: max-height 0.35s ease, opacity 0.25s ease;
    }

    .dropdownMegaMenu.show {
        transform: translate3d(0px, 0px, 0px) !important;
        max-height: 130px;
        opacity: 1;
    }

    .dropdownMega {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .megaContent {
        transform: translateY(-10px);
        transition: transform 0.3s ease;
    }

    .dropdownMegaMenu.show .megaContent {
        transform: translateY(0);
    }

    /* ตอน dropdown เปิด */
    #dropdownEditorial[aria-expanded="true"] span {
        transform: scale(1.9);
        font-weight: 900;
        width: 150px;
    }

    .dropdownMega>#dropdownEditorial:not([aria-expanded="true"]):hover span {
        transform: scale(1);
        font-weight: 500;
    }

    .bannerTitle {
        letter-spacing: 0vw;
    }

    .newTitleImg {
        font-size: 40px;
    }

    .newImgLayout {
        max-width: 300px;
        width: 100%;
        max-height: 302px;
    }

    .bestSellerTitleImg {
        font-size: 40px;
        text-align: center;
    }

    .bestSellerBgVideo {
        width: 100%;
        height: 50%;
    }

    .bestSellerWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bannerTitle.small {
        font-size: 30px;
        line-height: 30px;
        letter-spacing: 3px;
    }

    .contentMainLayout {
        padding: 40px 20px;
        min-height: fit-content;
    }

    .collectionImgLayout {
        width: 100%;
        height: 300px;
    }

    .collectionSubImgLayout {
        position: relative;
        width: 100%;
        height: 375px;
        overflow: hidden;
    }

    .collectionMainLayout {
        gap: 30px;
    }

    .collectionSubLayout {
        gap: 30px;
    }

    .collectionSubTitleImg {
        font-size: 30px;
        text-align: center;
    }

    .slideItem {
        font-size: 30px;
    }

    .slidesIcon {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
    }

    .slidesViewport {
        height: 55px;
    }

    .slidesDesMainLayout {
        padding: 0px 20px;
        gap: 60px;
    }

    .askMainLayout {
        padding: 80px 50px
    }

    .formContentMainLayout {
        width: 500px;
        min-width: 500px;
    }

    .formMainLayout {
        gap: 20px;
    }

    .footerSubscribeLayout {
        width: 100%;
        min-width: 100%;
    }
}

/* ========== Medium ≥768px ========== */
@media (max-width: 768px) {
    .navbarMainLayout {
        padding: 5px 5px;
    }

    .collectionSubImgLayout {
        position: relative;
        width: 100%;
        height: 275px;
        overflow: hidden;
    }

    .slidesDesMainLayout {
        gap: 60px;
        flex-direction: column;
        height: fit-content;
        gap: 40px;
        padding: 50px 20px;
    }

    .formMainLayout {
        gap: 60px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .formContentMainLayout {
        width: 100%;
        min-width: 100%;
    }

    #formTitle {
        text-align: center;
    }

    .footerMenuMainLayout {
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }
}

/* ========== Small ≥576px ========== */
@media (max-width: 576px) {
    .navbarMenuFooter {
        font-size: 40px;
        line-height: 40px;
    }

    .newTitleImg,
    .bestSellerTitleImg,
    .collectionSubTitleImg {
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        width: 100%;
        padding: 0px 10px;
    }

    .collectionImgLayout {
        width: 100%;
        height: 175px;
    }

    .collectionSubTitleImg {
        font-size: 20px;
        line-height: 25px;
        text-align: center;
    }

    .collectionSubImgLayout {
        height: 175px;
    }

    .collectionMainLayout {
        min-height: fit-content;
    }

    .slideItem {
        font-size: 25px;
    }

    .askMainLayout {
        padding: 80px 20px;
    }

    .askMainLayout .accordion-button {
        font-size: 14px;
        line-height: 20px;
        height: 100%;
        min-height: 60px;
        padding: 10px 0;
        gap: 10px;
    }

    .footerMainLayout {
        padding: 35px 20px;
    }
}