/* NAVBAR  */
.navbarMainLayout {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  height: 45px;
  padding: 5px 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #fff;
  color: #000;
  transition: opacity 0.25s ease;
}

.navbarMenuPopupLayout {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100dvh;

  background: #000;
  color: #fff;
}

.btn.dropdownCustom {
  width: fit-content;
  min-width: 80px;
  min-height: 35px;
  padding: 10px;
  color: #000;
  border: 0;
  transition: opacity 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.btn.dropdownCustom span {
  font-size: 13px;
  text-transform: uppercase;
}

/* =========== NAVBAR MENU =========== */
.navbarMenuMainLayout {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn.navbarMenu {
  width: fit-content;
  min-width: 70px;
  height: 36px;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: opacity 0.3s ease;
  color: #000;
  border: 0px solid transparent;
}

.btn.navbarMenu.dropdown-toggle::after {
  display: none;
}

.btn.navbarMenu span {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;

  display: inline-block;
  transition:
    transform 0.25s ease,
    font-weight 0.25s ease;
}

.btn.navbarMenu:hover span {
  transform: scale(1.4);
  font-weight: 800;
}

.navbarMenu--fade:hover span {
  transform: none !important;
  font-weight: 500 !important;
}

.navbarMenu--fade:hover {
  opacity: 0.5;
}

.navbarMenuFooter {
  display: none;
}

/* ===== MEGA DROPDOWN FULLSCREEN ===== */
.menuToggleBtn {
  display: none;
}

#dropdownEditorial .icon-arrow-down {
  display: none;
}


.dropdownMega {
  position: static;
}

.dropdownMegaMenu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100vw;
  height: 100vh;

  background: #000;
  color: #fff;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
  border: 0;
}

.dropdownMegaMenu.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;

  display: flex;
}

.megaContent {
  text-align: center;
  transform: translateY(20px);
  opacity: 0;
  transition:
    transform 0.4s ease,
    opacity 0.4s ease;

  width: 200px;
  font-size: 13px;
  color: #fff;
  display: flex;
  align-items: start;
  flex-direction: column;
  padding: 2px 10px;
  margin-left: 120px;
}

.dropdownMegaMenu.show .megaContent {
  transform: translateY(0);
  opacity: 1;
}

.mageContentTitle {
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;

  min-width: 89px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: enter;

  margin-bottom: 10px;
}

.mageContentMenu {
  min-width: 80px;
  height: 30px;

  text-align: start;
  font-size: 13px;
  color: #fff;

  display: flex;
  align-items: center;
  cursor: pointer;
}

.mageContentMenu span {
  display: inline-block;
  transition:
    transform 0.25s ease,
    font-weight 0.25s ease;
}

.mageContentMenu:hover span {
  transform: scale(1.3);
  font-weight: 800;
}

/* =========== FOOTER =========== */
.footerMainLayout {
  width: 100%;
  min-height: 310px;
  padding: 35px 60px;

  background: #f8f9f8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footerSubscribeLayout {
  width: 390px;
  min-width: 390px;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.footerMenuLayout {
  width: 100%;
  max-width: 300px;
  padding: 0px 5px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footerMenuMainLayout {
  width: 100%;
  max-width: 1190px;

  display: flex;
  align-items: start;
  justify-content: start;
}

/* ===== SECTION NEW =====  */

.newImgLayout {
  position: relative;
  width: 566px;
  height: 572px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newTitleImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 80px;
  color: #fff;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 900;
  text-transform: uppercase;

  width: 100%;
  text-align: center;
}

.newDescriptionLayout {
  width: 100%;
  max-width: 771px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  text-align: center;
}

/* ===== Section BEST SELLER =====  */
.bestSellerWrapper {
  position: relative;
  width: 100%;
  max-width: 1200px;
}

.bestSellerBgVideo {
  position: relative;
  z-index: -1;

  width: 100%;
  max-width: 1200px;
  height: 759px;
  object-fit: cover;
}

.bestSellerTitleImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0px 10px;

  font-size: 80px;
  line-height: 80px;
  text-align: center;
  color: #fff;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 900;
  text-transform: uppercase;

  transition: transform 0.08s linear;
}

/* ======== SECTION COLLECTION ======= */
.collectionMainLayout {
  position: relative;
  width: 100%;
  max-width: 991px;
  min-height: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.collectionImgLayout {
  position: relative;
  width: 100%;
  height: 475px;
  overflow: hidden;
  cursor: pointer;
}

.collectionBaseImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.collectionImgVideo {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  opacity: 0;
  filter: blur(8px);
  transform: scale(1.05);

  transition:
    opacity 0.6s ease,
    filter 0.6s ease,
    transform 0.6s ease;

  z-index: 1;
  pointer-events: none;
}

.collectionImgLayout:hover .collectionImgVideo {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
}

.newTitleImg {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 80px;
  color: #fff;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  width: 100%;
  text-align: center;

  /* transition: transform 0.15s linear;  */
  transition: transform 0.15s cubic-bezier(0.22, 0.61, 0.36, 1);
  pointer-events: none;
}

.collectionSubLayout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.collectionSubTitleImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 40px;
  color: #fff;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 900;
  text-transform: uppercase;

  width: 100%;
  text-align: center;
}

.collectionSubImgLayout {
  position: relative;
  width: 100%;
  height: 475px;
  overflow: hidden;
}

.collectionSubImgLayout .img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collectionSubImgLayout .hover {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.collectionSubImgLayout:hover .hover {
  opacity: 1;
}

.collectionSubImgLayout:hover .base {
  transform: scale(1.05);
  transition: transform 0.6s ease;
}

/* ======= SECTION ask =======  */
.askMainLayout {
  width: 100%;
  /* min-height: 100dvh; */
  padding: 100px 170px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  background: #000;
  color: #fff;
}

.askMainLayout .nav-pills {
  padding-bottom: 100px;
  justify-content: center;
}

.askMainLayout .accordion-button {
  background: transparent;
  color: #fff;
  box-shadow: none;
  text-transform: uppercase;

  padding: 0px 0px;
  height: 60px;
  font-size: 16px;
  font-weight: 600;
}

.accordion-body {
  padding: 20px 0px;
  color: #ffffffa2;
}

.askMainLayout .accordion-item {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.askMainLayout .accordion {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.askMainLayout .accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'/%3E%3C/svg%3E");
  transform: rotate(0deg);
}

.askMainLayout .accordion-button:not(.collapsed)::after {
  transform: rotate(180deg);
}

/* ========== Section Form ========== */
.formMainLayout {
  position: relative;
  width: 100%;
  max-width: 1090px;
  min-height: 300px;

  display: flex;
  align-items: start;
  gap: 80px;
}

.formContentMainLayout {
  width: 650px;
  min-width: 650px;
  min-height: 300px;

  display: flex;
  flex-direction: column;
}

.formPrimaryMainLayout {
  position: relative;
  width: 100%;
  min-height: 500px;
  padding: 50px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}